<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
				<div class="container text-center">
					<img src="" style="height: 200px; width: 200px;"
						class="my_profile_picture mt-2" th:src="@{'/images/logo.png'}"
						alt="profile photo" />
						
				</div>
				<h1 class="text-center mt-3 ">Start adding your contacts on cloud....</h1>
				<a th:href="@{/user/add-contact}" class="btn btn-primary btn-block text-uppercase mb-3 add-contact-btn">Add New Contacts</a>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#home-link").addClass("active");
		});
		</script>
	</section>
</body>
</html>