<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<h3>Change Password</h3>
							<form th:action="@{/user/change-password}" method="post">
								<!-- old password field -->
								<div class="form-group mt-3">
								<input required name="oldPassword" type="password" class="form-control " placeholder="Enter old password" />
 								</div>
 								<!-- new password link field -->
 								<div class="form-group mt-3">
								<input required name="newPassword" type="password" class="form-control " placeholder="Enter new password" />
 								</div>
 								<div class="container text-center ">
 								<button class="btn btn-success" type="submit">Change password</button>
 								<button class="btn btn-warning" type="reset">Reset</button>
 								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#settings-link").addClass("active");
		});
		</script>
	</section>
</body>
</html>