<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{normal/base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Show Contacts</title>
</head>
<body>
<section>
	<div class="card mr-3 ml-3">
		<div class="card-body">
			<h1 class="text-center">Your Contacts</h1>
			<!-- search -->
			
			<div class="search-container my-3">
				<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contacts.."/>
				<div class="search-result">
				<!-- result goes here -->
				<div class="search-result">
				
				</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Name</th>
				      <th scope="col">Email</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="c : ${contacts}">
				      <th th:text="${'SCMUSER'+c.cid}"></th>
				      <td> <img src="" class="my_profile_picture" th:src="@{'/images/'+${c.image}}" alt="profile photo"/><span th:text="${c.name}"></span></td>
				      <td>
				      <a href="#" th:href="@{'/user/'+${c.cid}+'/contacts'}">
				      <span th:text="${c.email}"></span>
				      </a>
				      </td>
				      <td th:text="${c.phone}"></td>
				      <td >
				      <div class="container">
				      	<a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a><br>
				      	<form th:action="@{'/user/update/'+${c.cid}}" th:method="post" class="mt-2">
				      		<button type="submit" class="btn btn-primary btn-sm">Update</button>	
				      	</form>	
				      </div>
				      </td>
				    </tr>
				  </tbody>
				</table>
				</div>
				<!-- pagination part -->
				
				<nav aria-label="Page navigation example">
				  <ul class="pagination text-center">
				    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
				    <li th:classappend="${currentPage == i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
				    <a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
				    <li th:if="${currentPage+1 < totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
				  </ul>
				</nav>
		</div>
	</div>
	<script>
		$(document).ready(()=>{
			$(".item").removeClass("active");
			$("#viewc-link").addClass("active");
		});
	</script>
</section>
</body>
</html>